---
layout: default
---
<div>
<div>
{% capture categories %}{% for category in site.categories%}{{ category | first }}{% endfor %}{% endcapture %}
{% assign category = categories | split:',' | sort %}
{% for item in (0..site.categories.size) %}{% unless forloop.last %}
{% capture word %}{{ category[item] | strip_newlines }}{% endcapture %}
<h2>{{ word }}</h2>
<ul>
{% for post in site.categories[word] %}{% if post.title != null %}
{% capture type %}{{post.dir|split: "/"}}{% endcapture %}
{%if type[1]=="PaperNote"%}
<li><span>{{ post.date | date: "%b %d %Y" }}</span>» <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
{% else %}
{% continue %}
{% endif %}
{% endif %}{% endfor %}
</ul>
{% endunless %}{% endfor %}
<br/><br/>
</div>
end5
</div>
